trunk/fullsimpe/SimsGUID/Web References/Service/getTemp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://sims.ambertation.de/type" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://sims.ambertation.de/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://sims.ambertation.de/" name="getTemp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://sims.ambertation.de/type" />
  </wsdl:types>
  <wsdl:message name="RegisterUserRequest">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="extEnumerateRegistredObjectsRequest">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="reserved" type="s:int" />
  </wsdl:message>
  <wsdl:message name="RegisterObjectRequest">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="fullguid" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="ExtRegisterObjectRequest">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="reserved" type="s:int" />
  </wsdl:message>
  <wsdl:message name="DescribeRegistredObjectsRequest">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="update" type="s:int" />
  </wsdl:message>
  <wsdl:message name="RegisterUserResponse">
    <wsdl:part name="return" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="AddUserRangeResponse">
    <wsdl:part name="return" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="loginUserResponse">
    <wsdl:part name="return" type="s:int" />
  </wsdl:message>
  <wsdl:message name="ListRegistredObjectsResponse">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="lockGuidResponse">
    <wsdl:part name="guid" type="s:int" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="SimsGUIDPortType">
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:RegisterUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerObject">
      <wsdl:input message="tns:RegisterObjectRequest" />
      <wsdl:output message="tns:loginUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="extRegisterObject">
      <wsdl:input message="tns:ExtRegisterObjectRequest" />
      <wsdl:output message="tns:loginUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="listRegistredObjects">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:ListRegistredObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="enumerateRegistredObjects">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:ListRegistredObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="extEnumerateRegistredObjects">
      <wsdl:input message="tns:extEnumerateRegistredObjectsRequest" />
      <wsdl:output message="tns:ListRegistredObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="describeRegistredObjects">
      <wsdl:input message="tns:DescribeRegistredObjectsRequest" />
      <wsdl:output message="tns:ListRegistredObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:loginUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="lockGuid">
      <wsdl:input message="tns:lockGuidResponse" />
      <wsdl:output message="tns:RegisterUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUserRange">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:RegisterUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="freeGuids">
      <wsdl:input message="tns:RegisterUserRequest" />
      <wsdl:output message="tns:loginUserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimsGUIDBinding" type="tns:SimsGUIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/RegisterUser" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerObject">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/RegisterObject" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extRegisterObject">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/ExtRegisterObject" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enumerateRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/EnumerateRegistredObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extEnumerateRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/ExtEnumerateRegistredObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/ListRegistredObject" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/LoginUser" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="describeRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/DescribeRegistredObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockGuid">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/lockGuid" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserRange">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/AddUserRange" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freeGuids">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/FreeGuids" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimGUIDService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sim GUID Service</documentation>
    <wsdl:port name="SimsGUIDPort" binding="tns:SimsGUIDBinding">
      <soap:address location="http://sims.ambertation.de/GUID/guidserver.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>