fullsimpe/SimsGUID/Web References/Service/getTemp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://sims.ambertation.de/type" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://sims.ambertation.de/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://sims.ambertation.de/" name="getTemp" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://sims.ambertation.de/type" />
  </types>
  <message name="RegisterUserRequest">
    <part name="username" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="RegisterObjectRequest">
    <part name="username" type="s:string" />
    <part name="password" type="s:string" />
    <part name="name" type="s:string" />
    <part name="update" type="s:boolean" />
  </message>
  <message name="DescribeRegistredObjectsRequest">
    <part name="username" type="s:string" />
    <part name="password" type="s:string" />
    <part name="update" type="s:int" />
  </message>
  <message name="RegisterUserResponse">
    <part name="return" type="s:boolean" />
  </message>
  <message name="loginUserResponse">
    <part name="return" type="s:int" />
  </message>
  <message name="ListRegistredObjectsResponse">
    <part name="return" type="s:string" />
  </message>
  <message name="lockGuidResponse">
    <part name="guid" type="s:int" />
    <part name="name" type="s:string" />
  </message>
  <portType name="SimsGUIDPortType">
    <operation name="registerUser">
      <input message="tns:RegisterUserRequest" />
      <output message="tns:RegisterUserResponse" />
    </operation>
    <operation name="registerObject">
      <input message="tns:RegisterObjectRequest" />
      <output message="tns:loginUserResponse" />
    </operation>
    <operation name="listRegistredObjects">
      <input message="tns:RegisterUserRequest" />
      <output message="tns:ListRegistredObjectsResponse" />
    </operation>
    <operation name="enumerateRegistredObjects">
      <input message="tns:RegisterUserRequest" />
      <output message="tns:ListRegistredObjectsResponse" />
    </operation>
    <operation name="describeRegistredObjects">
      <input message="tns:DescribeRegistredObjectsRequest" />
      <output message="tns:ListRegistredObjectsResponse" />
    </operation>
    <operation name="loginUser">
      <input message="tns:RegisterUserRequest" />
      <output message="tns:loginUserResponse" />
    </operation>
    <operation name="lockGuid">
      <input message="tns:lockGuidResponse" />
      <output message="tns:RegisterUserResponse" />
    </operation>
  </portType>
  <binding name="SimsGUIDBinding" type="tns:SimsGUIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="registerUser">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/RegisterUser" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="registerObject">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/RegisterObject" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="enumerateRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/EnumerateRegistredObjects" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="listRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/ListRegistredObject" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="loginUser">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/LoginUser" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="describeRegistredObjects">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/DescribeRegistredObjects" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="lockGuid">
      <soap:operation soapAction="http://sims.ambertation.de/GUID/lockGuid" />
      <input>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://sims.ambertation.de/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="SimGUIDService">
    <documentation>Sim GUID Service</documentation>
    <port name="SimsGUIDPort" binding="tns:SimsGUIDBinding">
      <soap:address location="http://sims.ambertation.de/GUID/guidserver.php" />
    </port>
  </service>
</definitions>